body{
	margin: 0px;
	padding: 0px;
}
.log_div{
	margin-top: 30px;
    width: 50%;
    height: 430px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 25%;
}
.heading{
	height: 64px;
}
.heading_text{
	font-size: 27px;
}
.privacy{
	font-size: 16px;
	color: #715858;
}
.button{
	width: 100%;
    font-size: 21px;
    font-family: arial;
    padding: 10px;
    border-radius: 5px;
}
    
}
.button a{
	text-decoration: none;
}
.account{
	font-size: 20px;
    color: #715858;
}
.reg{
	font-size: 20px;
}
