
label{
	margin-left: 10%;
}
.heading_right{
	margin-top: 17px;
	color: #7F7F7F;
	float: right;
	
}
.heading_right_text{
	font-size: 11px;
}
.pertner_text{
	font-weight: 700;
	color: #7F7F7F;
	margin-left: 15%;
}
.name{
	width: 45%;
}
.name2{
	width: 45%;
    margin-top: -38px;
    margin-left: 55%;
}
.gender{
	margin-left: 30px;
}
.gender2{
	margin-left: 10px;
}